*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  color: #060606;
  background-color: #033863;
  background-color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../img/milkyway_small.jpg");
  background-size: cover;
  background-position: center;
}
.header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__text {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #eee;
  font-size: 2.5rem;
  text-shadow: 3px 5px 5px black;
  animation: show 2s;
}
.header__text h1 span {
  color: rgba(0, 76, 255, 0.799);
  text-transform: uppercase;
}
.header__text p {
  text-align: center;
  font-size: 1.7rem;
}
.header__text .arrow-icon {
  display: block;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  padding: 1em;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 50%;
}
.header__text .arrow-icon::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.header__text .arrow-icon .icon-img {
  width: 50px;
}
.header__text .arrow-icon {
  display: none;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 100;
  mix-blend-mode: difference;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: rgba(103, 96, 96, 0.5490196078);
  padding: 1em;
  text-align: center;
  z-index: 30;
}
.nav__link {
  display: inline-block;
  padding: 0 1em;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #eee;
  text-shadow: 4px 4px 5px black;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}
.nav__link:hover {
  color: #060606;
}

.nav {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(330deg, #fff 50%, blue 80%);
  z-index: 10;
  transition: transform 0.5s;
  transform: translateX(-102%);
}
.mobile-nav-active {
  transform: translateX(0);
}
.mobile-nav .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 3rem;
}
.mobile-nav .items .item {
  padding: 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #060606;
  transition: color 0.3s;
  cursor: pointer;
}
.mobile-nav .items .item:hover {
  color: #033863;
}

.add-background {
  background-color: rgb(27, 26, 26);
  transition: 0.5s;
}

.aboutme {
  margin-top: 10px;
  margin-bottom: 50px;
}
.aboutme__main {
  margin: 0 30px;
}
.aboutme__main .aboutme-image {
  display: flex;
  justify-content: center;
}
.aboutme__img {
  height: 300px;
  width: 300px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 4px black;
}
.aboutme__text {
  padding: 1em 2em;
  text-align: center;
  font-size: 2rem;
}
.aboutme__text p {
  padding: 0.5em;
}
.aboutme__end {
  font-size: 1.5rem;
  font-weight: bold;
}
.aboutme .icon {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  transition: transform 0.6s;
  cursor: pointer;
}
.aboutme .icon:hover {
  transform: scale(1.6);
}

.values {
  height: 100vh;
  margin-bottom: 130px;
}
.values__image {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.values__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 5px black;
}
.values__image-box .value-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.values__image-box .question-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-image: url("/img/icons/help-octagon.svg");
  background-size: cover;
  top: 10px;
  right: 10px;
  z-index: 9;
  cursor: crosshair;
}
.values__image-box .question-btn:hover ~ .hidden-text {
  -webkit-clip-path: circle(130% at 50% 90%);
          clip-path: circle(130% at 50% 90%);
}
.values__image-box .question-btn:hover ~ h3 {
  opacity: 0;
}
.values__image-box h3 {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
.values__image-box .hidden-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-clip-path: circle(0% at 50% 90%);
          clip-path: circle(0% at 50% 90%);
  transition: -webkit-clip-path 0.7s;
  transition: clip-path 0.7s;
  transition: clip-path 0.7s, -webkit-clip-path 0.7s;
}
.values__image-box .hidden-text p {
  margin-bottom: 10px;
  padding: 0 55px;
  font-size: 0.8rem;
}
.values__image-box1, .values__image-box4, .values__image-box2, .values__image-box3 {
  background-size: cover;
  background-position: center;
}
.values__image-box1 {
  grid-column: 2/8;
  grid-row: 1/2;
  background-image: url("../img/professional_small.jpg");
}
.values__image-box2 {
  grid-column: 2/8;
  grid-row: 2/3;
  background-image: url("../img/robot_small.jpg");
}
.values__image-box3 {
  grid-column: 2/8;
  grid-row: 3/4;
  background-image: url("../img/help_small.jpg");
}
.values__image-box4 {
  grid-column: 2/8;
  grid-row: 4/5;
  background-image: url("../img/hands_small.png");
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.info h2 {
  margin-bottom: 20px;
}
.info__photo {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  box-shadow: 3px 3px 5px black;
}
.info__photo .value-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.info__photo-one {
  width: 100%;
  height: 500px;
  background-image: url("/img/pen-4337524_640_small.jpg");
  margin-bottom: 10px;
}
.info__photo-two {
  width: 100%;
  height: 500px;
  background-image: url("/img/digital-marketing-1725340_640_small.jpg");
}
.info .inner-text {
  position: absolute;
  padding: 1em;
  font-size: 2.5rem;
  color: #eee;
  text-align: center;
}

.second-title {
  display: inline-block;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
.second-title::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -5px;
  left: 35px;
  right: 35px;
  background-color: #060606;
}

.image-container {
  overflow: hidden;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 10px;
  box-shadow: 3px 3px 4px black;
}
.projects .second-title {
  margin: 20px 0;
}
.projects__img {
  height: 210px;
  width: 100%;
  background-size: cover;
  transition: transform 0.8s;
}
.projects__img:hover {
  transform: scale(1.2);
}
.projects__img-one {
  background-image: url("../img/photographs-small.jpg");
}
.projects__img-two {
  background-image: url("../img/macarons-small.jpg");
}
.projects__img-three {
  background-image: url("../img/flowershop-small.jpg");
}
.projects__body {
  height: 110px;
  text-align: center;
  margin: 10px;
  font-size: 1.4rem;
}
.projects__body h5 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  font-size: 1.6rem;
}
.projects__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  background-color: rgba(0, 76, 255, 0.799);
  height: 80px;
}
.projects__footer a {
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: bold;
}
.projects__footer a .footer-icon {
  transition: transform 0.4s;
}
.projects__footer a .footer-icon img {
  width: 40px;
}
.projects__footer a .footer-icon:hover {
  transform: scale(1.2);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact h2 .email-icon {
  width: 23px;
  margin-left: 7px;
}
.contact__form {
  margin: 20px;
  position: relative;
}
.contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
  width: 300px;
}
.contact__form-top label, .contact__form-middle label, .contact__form-end label, .contact__form-protection label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}
.contact__form-top input,
.contact__form-top .textarea, .contact__form-middle input,
.contact__form-middle .textarea, .contact__form-end input,
.contact__form-end .textarea, .contact__form-protection input,
.contact__form-protection .textarea {
  padding: 1em 2em;
  margin-bottom: 1em;
  width: 100%;
  color: #060606;
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.856);
  box-shadow: 2px 2px 9px black;
}
.contact .contact-box.error input,
.contact .contact-box.error textarea {
  background-color: rgba(255, 0, 0, 0.2);
  border: 3px solid rgb(255, 0, 0);
}
.contact .error-text {
  display: block;
  color: rgb(255, 0, 0);
  font-size: 1.4rem;
  text-align: center;
  visibility: hidden;
}
.contact .contact-box.error .error-text {
  visibility: visible;
}
.contact .textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  font-family: "Raleway";
}
.contact__form-end .submit-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.contact__form-end .submit-btn:hover {
  background-color: #033863;
  color: #fff;
}
.contact__form-protection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}
.contact__form-protection label {
  margin-top: 10px;
}
.contact__form-protection input {
  box-shadow: none;
}
.contact .popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 200px;
  font-size: 2rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #fff;
}
.contact .popup p {
  margin-bottom: 15px;
  font-weight: bold;
}
.contact .popup .close {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  transition: background-color 0.4s;
  cursor: pointer;
}
.contact .popup .close:hover {
  background-color: rgba(0, 76, 255, 0.799);
  color: #fff;
}
.contact .hidden-popup {
  display: none;
}
.contact .show-popup {
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.footer__box h3,
.footer__box p,
.footer__box li {
  font-size: 1.4rem;
  text-align: center;
  list-style-type: none;
  margin-top: 15px;
}
.footer__box h3 a,
.footer__box p a,
.footer__box li a {
  text-decoration: none;
  color: #060606;
}
.footer__box__list {
  padding: 10px;
}
.footer__box-socials {
  padding: 10px;
}
.footer__box-socials img {
  width: 40px;
  margin-top: 15px;
}
.footer__bottom-text {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  width: 100%;
  background-color: #033863;
  color: #fff;
  margin-top: 20px;
}

.privacy-policy-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}
.privacy-policy-head .privacy-btn {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  padding: 20px 15px;
  background-color: #033863;
  border-radius: 8px;
  transition: background-color 0.4s;
}
.privacy-policy-head .privacy-btn:hover {
  background-color: rgba(0, 76, 255, 0.799);
}

.privacy-policy {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 40px;
}
.privacy-policy section {
  margin: 50px auto;
}
.privacy-policy h2 {
  margin-bottom: 1em;
}
.privacy-policy .last-section {
  margin-bottom: 2em;
}

.show {
  opacity: 1;
  transition: opacity 2s, transform 0.8s;
  transform: translateX(0);
}

.hidden {
  opacity: 0;
  transform: translateX(100%);
}

.bounce {
  animation: bounce 2s forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@media (min-width: 578px) {
  .contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
    width: 450px;
  }
  .aboutme__img {
    height: 400px;
  }
  .values__image .hidden-text p {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  section {
    scroll-margin-top: 54px;
  }
  .header__text h1 {
    font-size: 7rem;
  }
  .header .burger-btn {
    display: none;
  }
  .header .nav {
    display: block;
  }
  .header .arrow-icon {
    display: block;
  }
  .values__image-box {
    margin: 10px;
  }
  .values__image-box h3 {
    font-size: 2.5rem;
  }
  .values__image-box1 {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .values__image-box2 {
    grid-column: 5/9;
    grid-row: 1/3;
  }
  .values__image-box3 {
    grid-column: 1/5;
    grid-row: 3/5;
  }
  .values__image-box4 {
    grid-column: 5/9;
    grid-row: 3/5;
  }
  .values__image .hidden-text p {
    font-size: 1.6rem;
  }
  .aboutme__end {
    font-size: 2rem;
  }
  .group-projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .group-projects .projects {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .aboutme__main {
    display: flex;
    align-items: self-start;
  }
  .aboutme__img {
    width: 500px;
    height: 500px;
  }
  .aboutme__text {
    align-self: center;
  }
}
@media (min-height: 1000px) {
  .aboutme__main {
    display: flex;
    align-items: self-start;
  }
  .aboutme__img {
    width: 700px;
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .header {
    background-image: url("../img/milkyway_big.jpg");
  }
  .header__text h1 {
    font-size: 9rem;
  }
  .header__text p {
    font-size: 3rem;
    margin-top: 15px;
  }
  .aboutme__text {
    font-size: 2.2rem;
  }
  .info__photo .inner-text {
    font-size: 3rem;
  }
  .contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
    width: 750px;
  }
  .values__image h3 {
    font-size: 3rem;
  }
  .values__image-box1 {
    background-image: url("../img/professional_big.jpg");
  }
  .values__image-box2 {
    background-image: url("../img/robot_big.jpg");
  }
  .values__image-box3 {
    background-image: url("../img/help__big.jpg");
  }
  .values__image-box4 {
    background-image: url("../img/hands_big.png");
  }
  .values__image .hidden-text {
    justify-content: center;
  }
  .values__image .hidden-text p {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .projects__img-one {
    background-image: url("../img/photographs-big.jpg");
  }
  .projects__img-two {
    background-image: url("../img/macarons-big.jpg");
  }
  .projects__img-three {
    background-image: url("../img/flowershop-big.jpg");
  }
  .footer__bottom-text {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */