$grey-dark-color: #333436;
$dark: #060606;
$light-dark: #271a1ae8;

$pure-white: #fff;
$light-white: #eee;
$soft-beige: #dce0f567;

$nav-color: #040d3c8e;
$rich-dark: rgb(1, 22, 39);
$intensive-blue: rgba(0, 76, 255, 0.799);
$dark-blue: #033863;

$red: rgb(255, 0, 0);
$green: rgba(20, 212, 20, 0.97);