*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}
body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  color: #060606;
  background-color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

.full-width-bg {
  background-color: rgba(40, 40, 131, 0.052);
  background-color: rgba(237, 237, 237, 0.3607843137);
  padding-bottom: 1em;
}

.section-margin {
  margin-bottom: 3em;
  scroll-margin-top: 40px;
}

.second-title-margin {
  margin: 2em 0;
}

.second-title {
  display: inline-block;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
.second-title::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -5px;
  left: 35px;
  right: 35px;
  background-color: #060606;
}
.second-title .money-icon {
  width: 30px;
  height: 30px;
}
.second-title .laptop-icon {
  margin-bottom: -5px;
  width: 35px;
  height: 35px;
}
.second-title .portfolio-icon {
  width: 35px;
  height: 35px;
  margin-bottom: -4px;
}
.second-title .email-icon {
  width: 25px;
  height: 25px;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../img/milky-way-small.jpg");
  background-size: cover;
  background-position: center;
}
.header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__text {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #eee;
  text-shadow: 3px 5px 5px black;
}
.header__text p {
  font-size: 4rem;
  font-weight: 600;
}
.header__text p span {
  color: rgba(0, 76, 255, 0.799);
  text-transform: uppercase;
}
.header__text h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}
.header__text h1 img {
  width: 3rem;
}
.header__text .arrow-icon {
  display: block;
  position: absolute;
  bottom: 3em;
  left: 50%;
  padding: 2em;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 50%;
}
.header__text .arrow-icon::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.header__text .arrow-icon .icon-img {
  width: 50px;
}
.header__text .arrow-icon {
  display: none;
}

.mobile {
  display: flex;
  align-items: center;
  background-color: rgb(27, 26, 26);
  width: 100%;
  height: 8em;
  top: 0;
}
.mobile a {
  color: #fff;
  margin-left: 1em;
  text-decoration: none;
  font-size: 2rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 100;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: whitesmoke;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}
.burger-btn .black-bars-color,
.burger-btn .black-bars-color::after,
.burger-btn .black-bars-color::before {
  background-color: rgb(1, 22, 39);
}

.nav {
  height: 3em;
  background-color: rgba(73, 73, 73, 0.2823529412);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1em;
  z-index: 150;
  position: fixed;
  transition: transform 0.4s;
}
.nav-logo a {
  font-size: 2rem;
  font-weight: bold;
}
.nav a {
  text-decoration: none;
  color: #fff;
}
.nav__link {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 3em;
}
.nav__link-item {
  position: relative;
  padding: 0.5em 0;
}
.nav__link-item::after, .nav__link-item::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 1px solid white;
  transition: 0.3s;
}
.nav__link-item::before {
  right: 50%;
}
.nav__link-item::after {
  left: 50%;
}
.nav__link-item:hover::before, .nav__link-item:hover::after {
  width: 50%;
}
.nav__link-item:hover .nav__link-item:focus {
  outline: none;
  border: 1px solid white;
}
.nav .nav-active {
  color: rgba(0, 140, 255, 0.799);
}

.nav {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/mobile-nav.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
  transition: transform 0.5s;
  transform: translateX(-102%);
}
.mobile-nav-active {
  transform: translateX(0);
}
.mobile-nav .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7411764706);
  height: 100%;
  font-size: 2rem;
}
.mobile-nav .items .item {
  padding: 1.2em;
  text-decoration: none;
  width: 290px;
  background-color: rgba(255, 255, 255, 0.1058823529);
  text-align: center;
  color: #fff;
  transition: color 0.3s;
  cursor: pointer;
}
.mobile-nav .items .item:hover {
  color: #030963;
  color: rgba(0, 76, 255, 0.799);
  background-color: #3b3b3b;
}

.add-background {
  background-color: rgb(27, 26, 26);
  transition: 0.5s;
}

.aboutme {
  margin-top: 5em;
  margin-bottom: 5em;
  scroll-margin-top: 76px;
}
.aboutme__main {
  margin: 0 30px;
}
.aboutme__main .aboutme-image {
  display: flex;
  justify-content: center;
}
.aboutme__img {
  height: 300px;
  width: 300px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 4px black;
}
.aboutme__text {
  text-align: center;
  font-size: 2rem;
}
.aboutme__text .hello {
  font-weight: bold;
  text-align: center;
  font-size: 2.4rem;
  padding-top: 1em;
  padding-bottom: 1em;
}
.aboutme__text .hello-content {
  padding: 0.5em;
}
.aboutme__text .hello-content a {
  text-decoration: none;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}
.blog h1 {
  font-size: 1.8rem;
}
.blog-description {
  font-size: 1.7rem;
  padding: 0 2.5em;
  padding-bottom: 2em;
  text-align: center;
}
.blog-padding {
  padding: 0 2em;
}
.blog .group-projects .projects__img:hover::before {
  opacity: 0;
}
.blog .group-projects .projects .blog-body {
  height: 200px;
}
.blog .group-projects .projects .blog-body p {
  display: flex;
  flex-direction: column;
}
.blog .group-projects .projects .blog-body p a {
  padding-top: 1em;
  text-decoration: none;
  transition: transform 0.3s;
  color: #060606;
}
.blog .group-projects .projects .blog-body p a:hover {
  transform: scale(1.1);
  color: rgba(0, 76, 255, 0.799);
}

.blog-article {
  margin-top: 5em;
}

.stack-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 2em;
  font-size: 2rem;
}
.stack-body p {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}
.stack-body h3 {
  text-align: center;
}
.stack-body-icon {
  width: 100px;
  padding: 1em;
  transition: transform 0.3s;
}
.stack-body-icon:hover {
  transform: scale(1.1);
}
.stack-body-list {
  list-style: none;
  text-align: justify;
  font-weight: normal;
}
.stack-body-list li {
  padding: 0.5em 0;
}
.stack-body-list li span {
  font-weight: bold;
}
.stack-body .frontend,
.stack-body .backend {
  background-color: white;
  background-color: rgba(237, 237, 237, 0.3607843137);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.info {
  width: 100%;
}
.info__photo {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.info__photo .value-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
}
.info-box-one, .info-box-two {
  background-color: rgba(255, 255, 255, 0.0784313725);
  margin: 0 2em;
}
.info__photo {
  width: 100%;
  height: 950px;
  background-image: url("../img/pen-4337524_640_small.jpg");
}
.info .inner-text {
  padding: 0.5em;
  margin-top: 0.3em;
  font-size: 1.2rem;
  color: #eee;
  text-align: left;
  list-style: none;
  letter-spacing: 1px;
  line-height: 28px;
}
.info .inner-text-bold {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.info .inner-text-list li {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding: 0.3em;
}

.image-container {
  overflow: hidden;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 10px;
  border-radius: 20px;
  overflow: hidden;
}
.projects .second-title {
  margin: 20px 0;
}
.projects__img {
  height: 240px;
  width: 100%;
  background-size: cover;
  position: relative;
}
.projects__img:hover .projects__img-icon, .projects__img:hover::before {
  opacity: 1;
}
.projects__img::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.704);
  opacity: 0;
  transition: opacity 0.3s;
}
.projects__img-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}
.projects__img-icon a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s;
}
.projects__img-icon a:hover {
  transform: scale(1.1);
}
.projects__img-icon-eye {
  width: 80px;
}
.projects__img-one {
  background-image: url("../img/photographs-small.jpg");
}
.projects__img-two {
  background-image: url("../img/house-1477041_1280.jpg");
}
.projects__img-three {
  background-image: url("../img/flowershop-small.jpg");
}
.projects__img-four {
  background-image: url("../img/memory.png");
  background-size: cover;
}
.projects__img-five {
  background-image: url("../img/e-shop.png");
}
.projects__img-six {
  background-image: url("../img/notes_app.png");
  background-position: -25px;
}
.projects__img-blog-one {
  background-image: url("../img/coding.jpg");
}
.projects__body {
  text-align: center;
  margin: 10px;
  font-size: 1.8rem;
}
.projects__body h3 {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  margin: 0.5em 0;
  font-weight: bold;
  padding: 5px;
  font-size: 2rem;
}
.projects__body p {
  padding: 0.5em 0;
}

.accordion {
  padding: 0 1em;
}
.accordion-description {
  text-align: center;
  font-size: 2rem;
  padding: 0 1em 1em 1em;
}
.accordion-description a {
  text-decoration: none;
}
.accordion-box {
  margin: 2em;
}
.accordion-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  width: 100%;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.accordion-btn-icon {
  transition: 0.5s;
}
.accordion-btn:hover, .accordion-btn:focus {
  background-color: rgb(210, 210, 210);
  outline: none;
}
.accordion-info {
  height: 0;
  padding: 0 1em;
  font-size: 1.3rem;
  overflow: hidden;
  transition: 0.5s;
  text-align: justify;
}
.accordion-info-text {
  padding: 0.5em 0;
}
.accordion .active-accordion {
  height: 360px;
  padding: 1em 1em;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.contact__form {
  margin: 20px;
  position: relative;
}
.contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
  width: 300px;
}
.contact__form-top label, .contact__form-middle label, .contact__form-end label, .contact__form-protection label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}
.contact__form-top input,
.contact__form-top .textarea, .contact__form-middle input,
.contact__form-middle .textarea, .contact__form-end input,
.contact__form-end .textarea, .contact__form-protection input,
.contact__form-protection .textarea {
  padding: 1em 2em;
  margin-bottom: 1em;
  width: 100%;
  color: #060606;
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.856);
  box-shadow: 2px 2px 9px black;
}
.contact .contact-box.error input,
.contact .contact-box.error textarea {
  background-color: rgba(255, 0, 0, 0.2);
  border: 3px solid rgb(255, 0, 0);
}
.contact .error-text {
  display: block;
  color: rgb(255, 0, 0);
  font-size: 1.4rem;
  text-align: center;
  visibility: hidden;
}
.contact .contact-box.error .error-text {
  visibility: visible;
}
.contact .textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  font-family: "Raleway", sans-serif;
}
.contact__form-end .submit-btn {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.856);
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.contact__form-end .submit-btn:hover, .contact__form-end .submit-btn:focus {
  background-color: rgb(210, 210, 210);
  outline: none;
}
.contact__form-protection {
  text-align: center;
  margin: 1em 0;
}
.contact .popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 200px;
  font-size: 2rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #060606;
  background-color: #fff;
  opacity: 0;
  display: none;
}
.contact .popup p {
  margin-bottom: 15px;
  font-weight: bold;
}
.contact .popup .close {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  transition: background-color 0.4s;
  cursor: pointer;
}
.contact .popup .close:hover {
  background-color: rgb(210, 210, 210);
}
.contact .show-popup {
  display: flex;
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.footer__box h3,
.footer__box p,
.footer__box li {
  font-size: 1.4rem;
  text-align: center;
  list-style-type: none;
  margin-top: 15px;
}
.footer__box h3 a,
.footer__box p a,
.footer__box li a {
  text-decoration: none;
  color: #060606;
  transition: color 0.3s;
}
.footer__box h3 a:hover,
.footer__box p a:hover,
.footer__box li a:hover {
  color: rgb(16, 45, 210);
}
.footer__box__list {
  padding: 10px;
}
.footer__box-socials {
  padding: 3px;
}
.footer__box-socials img {
  width: 29px;
  margin-top: 15px;
  padding: 4px;
  transition: transform 0.3s;
}
.footer__box-socials img:hover {
  transform: scale(1.1);
}
.footer__bottom-text {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  width: 100%;
  background-color: rgb(12, 47, 118);
  color: #fff;
  margin-top: 20px;
}

.privacy-policy-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em;
  padding: 4em;
}
.privacy-policy-head h1 {
  font-size: 2rem;
}
.privacy-policy-head .privacy-btn {
  text-decoration: none;
  font-size: 1rem;
  color: #060606;
  padding: 10px 10px;
  border: 1px solid #060606;
  border-radius: 8px;
  transition: background-color 0.4s;
  width: 100%;
}
.privacy-policy-head .privacy-btn:hover {
  background-color: rgba(39, 26, 26, 0.9098039216);
  color: #fff;
}

.main-content {
  background-color: rgba(102, 98, 98, 0.1725490196);
  padding: 1em;
  margin: 2em 0;
}

.privacy-policy {
  text-align: center;
  font-size: 1rem;
  margin-top: 40px;
  padding: 0 20px;
}
.privacy-policy section {
  margin: 50px auto;
}
.privacy-policy h2 {
  margin-bottom: 1em;
}
.privacy-policy .last-section {
  margin-bottom: 2em;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 6em;
  margin-bottom: 2em;
}
.not-found img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 400px;
  border-radius: 8px;
}
.not-found-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 12rem;
  padding: 2em;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: rgba(5, 4, 4, 0.7450980392);
  border-radius: 8px;
}
.not-found-box p {
  padding: 0.3em 0;
}

.button-box {
  display: flex;
  justify-content: center;
}
.button-box .not-found-btn {
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  color: #060606;
  background-color: transparent;
  border: 1px solid #060606;
  border-radius: 8px;
  margin: 2em 0;
  transition: background-color 0.4s;
}
.button-box .not-found-btn:hover {
  background-color: #060606;
  color: #fff;
}

.cookies-sleep {
  display: none;
}

.cookie-box {
  position: fixed;
  bottom: 0;
  padding: 1em;
  background-image: url("../img/cookie-monster-5655016_1920-big.jpg");
  background-size: cover;
  background-position: center;
  font-size: 2.2rem;
  height: 200px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  animation: show-cookies 0.5s 0.5s forwards;
  animation-delay: 4s;
  z-index: 100;
}
.cookie-box-items {
  background-color: rgba(255, 255, 255, 0.8705882353);
  border-radius: 5px;
  padding: 0.5em;
}
.cookie-box .cookie-btn {
  margin-top: 1em;
  padding: 0.7em;
  font-size: 2rem;
  border: 1px solid rgba(0, 76, 255, 0.799);
  background-color: #030963;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cookie-box .cookie-btn:hover {
  background-color: rgba(0, 76, 255, 0.799);
}

.special-body-color {
  background-color: rgba(192, 192, 192, 0.4588235294);
}

.hidden {
  opacity: 0;
  transform: translateX(100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s, transform 0.8s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes show-cookies {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 350px) {
  .contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
    width: 250px;
  }
  .contact-title {
    font-size: 1.8rem;
  }
  .footer__box {
    padding: 12px 0;
  }
}
@media (min-width: 578px) {
  .header__text {
    gap: 2em;
  }
  .header__text h1 {
    font-size: 2.5rem;
  }
  .header__text h1 img {
    width: 4rem;
  }
  .header__text p {
    font-size: 5rem;
  }
  .contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
    width: 450px;
  }
  .aboutme__img {
    height: 400px;
  }
}
@media (min-width: 768px) {
  section {
    scroll-margin-top: 54px;
  }
  .mobile {
    display: none;
  }
  .nav {
    display: flex;
    font-size: 1.6rem;
  }
  .burger-btn {
    display: none;
  }
  .header__text {
    gap: 2em;
  }
  .header__text h1 {
    font-size: 4rem;
  }
  .header__text h1 img {
    width: 5rem;
  }
  .header__text p {
    font-size: 5rem;
  }
  .header .arrow-icon {
    display: block;
  }
  .aboutme__end {
    font-size: 2rem;
  }
  .stack-body-icon {
    width: 110px;
  }
  .info-box .inner-text {
    font-size: 2rem;
  }
  .group-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .group-projects .projects {
    width: 30%;
  }
  .group-projects .projects__body {
    height: 300px;
    font-size: 2rem;
  }
  .group-projects .projects__body p {
    padding: 0.5em 0;
  }
  .group-projects .projects__img {
    height: 280px;
  }
  .blog {
    margin-top: 5em;
  }
  .blog h1 {
    font-size: 2.3rem;
  }
  .blog-description {
    font-size: 2rem;
    padding: 0 4em;
  }
  .blog .group-projects .projects.blog-width {
    width: 400px;
  }
  .footer__box-socials img {
    width: 35px;
  }
}
@media (min-width: 992px) {
  .second-title {
    font-size: 3rem;
  }
  .second-title .money-icon {
    width: 40px;
    height: 40px;
    margin-bottom: -4px;
  }
  .second-title .laptop-icon {
    margin-bottom: -8px;
    width: 40px;
    height: 40px;
  }
  .second-title .portfolio-icon {
    width: 40px;
    height: 40px;
  }
  .second-title .email-icon {
    width: 35px;
    height: 32px;
  }
  .full-width-bg {
    padding-bottom: 2em;
  }
  .nav {
    font-size: 2.1rem;
  }
  .nav-logo a {
    font-size: 2.5rem;
  }
  .header {
    background-image: url("../img/milkyway_big.jpg");
  }
  .aboutme__main {
    display: flex;
    align-items: flex-start;
  }
  .aboutme__img {
    width: 500px;
    height: 500px;
  }
  .aboutme__text .hello {
    padding-top: 0;
  }
  .aboutme__text .hello-content {
    padding: 0.5em 2em;
  }
  .stack-body {
    font-size: 2rem;
    padding: 1em 6em;
  }
  .stack-body p {
    font-size: 2rem;
  }
  .not-found img {
    width: 600px;
    height: 500px;
  }
  .not-found-box {
    font-size: 2rem;
  }
  .contact__form-protection {
    margin: 0.5em;
    padding-bottom: 1em;
  }
}
@media (min-height: 1000px) {
  .aboutme__main {
    display: flex;
    align-items: self-start;
  }
  .aboutme__img {
    height: 600px;
  }
  .stack-body {
    font-size: 2.2rem;
  }
  .stack-body p {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .header__text {
    gap: 2em;
  }
  .header__text h1 {
    font-size: 3rem;
  }
  .header__text h1 img {
    width: 4rem;
  }
  .header__text p {
    font-size: 6rem;
  }
  .header .arrow-icon {
    padding: 2em;
    bottom: 5em;
  }
  .section-margin {
    margin-bottom: 6em;
  }
  .aboutme__text {
    font-size: 2rem;
  }
  .info-box {
    flex-direction: row;
  }
  .info-box-one, .info-box-two {
    height: 70%;
  }
  .info-box .inner-text {
    font-size: 1.6rem;
    width: 550px;
    letter-spacing: 1px;
    padding: 0 2em;
  }
  .info-box .inner-text-bold {
    font-size: 2.2rem;
    margin-top: 4.5em;
    margin-bottom: 1em;
  }
  .info__photo {
    background-image: url("../img/pen-4337524_1920_big.jpg");
  }
  .contact h2 .email-icon {
    width: 30px;
  }
  .contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
    width: 950px;
    padding-bottom: 2em;
  }
  .contact label {
    font-size: 2rem;
  }
  .contact input,
  .contact .textarea {
    padding: 1.5em;
  }
  .contact__form-end .submit-btn {
    padding: 1em;
    font-size: 1.5rem;
  }
  .contact__form-protection {
    font-size: 1.5rem;
    padding-bottom: 1em;
  }
  .group-projects {
    padding: 0 4em;
  }
  .group-projects .projects__img-one {
    background-image: url("../img/photographs-big.jpg");
  }
  .group-projects .projects__img-two {
    background-image: url("../img/house-1477041_1280.jpg");
  }
  .group-projects .projects__img-three {
    background-image: url("../img/flowershop-big.jpg");
  }
  .accordion {
    padding: 0 5em 1em 5em;
  }
  .accordion-btn {
    font-size: 2rem;
  }
  .accordion-info {
    font-size: 2rem;
  }
  .footer__box h3,
  .footer__box p,
  .footer__box li {
    font-size: 1.7rem;
  }
  .footer__box-socials img {
    width: 45px;
  }
  .footer__bottom-text {
    font-size: 1.6rem;
  }
  .blog {
    margin-top: 6em;
  }
  .blog-description {
    font-size: 2.1rem;
    padding: 0 6em;
    padding-bottom: 2em;
  }
  .blog .group-projects .projects.blog-width {
    width: 500px;
  }
  .privacy-policy {
    font-size: 1.5rem;
    padding: 0 9em;
  }
  .privacy-policy-head {
    margin-top: 7em;
  }
  .privacy-policy-head h1 {
    font-size: 3rem;
  }
  .privacy-policy-head .privacy-btn {
    width: 30%;
    padding: 1.3em;
    font-size: 1.2rem;
  }
  .not-found {
    margin-top: 8em;
  }
  .not-found img {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  .cookie-box {
    height: 160px;
  }
  .cookie-box-items {
    display: inline-block;
    background-color: hsla(0, 0%, 100%, 0.951);
    padding: 0.5em 2em;
  }
}
@media (min-width: 1400px) {
  .header__text {
    gap: 2em;
  }
  .header__text h1 {
    font-size: 4rem;
  }
  .header__text h1 img {
    width: 4rem;
  }
  .header__text p {
    font-size: 9rem;
  }
  .header .arrow-icon {
    padding: 3em;
    bottom: 5em;
  }
  .aboutme {
    margin-bottom: 100px;
  }
  .aboutme__text {
    font-size: 2.4rem;
  }
  .stack-body {
    font-size: 2rem;
    padding: 1em;
  }
  .stack-body p {
    font-size: 2rem;
  }
  .stack-body-icon {
    width: 150px;
  }
  .info-box .inner-text {
    font-size: 2rem;
    width: 650px;
    padding: 0 3em;
  }
  .info-box .inner-text-bold {
    font-size: 2.5rem;
  }
  .group-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .group-projects .projects {
    width: 30%;
  }
  .group-projects .projects__body {
    font-size: 2rem;
  }
  .accordion {
    padding: 0 2em 3em 2em;
  }
  .accordion-description {
    font-size: 2.5rem;
  }
  .accordion-btn {
    font-size: 2.5rem;
  }
  .accordion-info {
    font-size: 2.2rem;
  }
  .contact h2 .email-icon {
    width: 30px;
  }
  .contact__form-top, .contact__form-middle, .contact__form-end, .contact__form-protection {
    width: 950px;
    padding-bottom: 2em;
  }
  .contact label {
    font-size: 2rem;
  }
  .contact input,
  .contact .textarea {
    padding: 2em;
  }
  .contact__form-end .submit-btn {
    padding: 1em;
    font-size: 1.6rem;
  }
  .contact__form-protection {
    font-size: 1.8rem;
  }
  .blog-description {
    font-size: 2.1rem;
    padding: 0 5em;
    padding-bottom: 2em;
  }
  .blog .group-projects .projects.blog-width {
    width: 600px;
  }
}/*# sourceMappingURL=style.css.map */